@model ProOnePal.Models.Fixture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tournament.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tournament.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.awayTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.awayTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pitch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pitch)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
