@model IEnumerable<ProOnePal.Models.Player>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <p style="font-family:'Segoe Print'; padding-top:0px; font-size:larger" class="text-center top-right">All Players</p>
</div>
<div style="padding-top:0px; background-color:transparent">

    @using (Html.BeginForm("Index", "Players", FormMethod.Get))
    {
        <p style="font-family:'Segoe Print'; float:left; padding-top:0px;">
            Name @Html.TextBox("searchName")   Team: @Html.DropDownList("team", "All")
            <input type="submit" value="search" class="btn btn-default" />
        </p>
    }
</div>
<br />
<br />
<br />

   
        <div class="row">
            @{ 
                int j = 0;
                for (int i = 0; i < 6; i++)
                {
                    <div class="col-md-2">
                        @while (j < Model.Count())
                        {
                            for (int k = 0; k < 8; k++)
                            {
                                <dl class="accordion">
                                    <dt style="font-family:'Segoe Print'; font-size:large">
                                        <a style="font-family:'Segoe Print'; font-size:large; color:darkslategrey; padding-top:0px;"> @Model.ElementAt(j).name (@Model.ElementAt(j).position) </a>    
                                    </dt>
                                    <dd class="list-inline">
                                        <li>
                                            <img id="homeImage" src="@Url.Content(Model.ElementAt(j).imgPath.Trim('`'))" style="padding-top:0px; height: 80px; width:80px; border-radius:20px;" />
                                        </li>
                                        <li style="font-family:'Segoe Print'; font-size:large">@Model.ElementAt(j).team.name</li>
                                        <li style="font-family:'Segoe Print'; font-size:large">@Model.ElementAt(j).age</li>
                                    </dd>
                                </dl>
                                
                                    <div class="list-inline">
                                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            <li>@Html.ActionLink("Edit", "Edit", new { id = Model.ElementAt(j).Id })  |</li> 
                                            <li>@Html.ActionLink("Delete", "Delete", new { id = Model.ElementAt(j).Id }) | </li> 
                                        }
                                        <li>@Html.ActionLink("Details", "Details", new { id = Model.ElementAt(j).Id }) </li> 
                                    </div>

                                j++;
                            }
                            break;
                        }
                    </div>
                }
            }
        </div>
    
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    jQuery(document).ready(function ($) {
        var panels = $('.accordion > dd').hide();
        $('.accordion > dt > a').click(function () {
            var $this = $(this);
            panels.slideUp();
            $this.parent().next().slideDown();
            return false;
        });
    });
</script>
