<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/Custom.js"></script>
    
    <script>
        $(document).ready(function () { 
            $('li').hover(function () {
                $(this).find('ul>li').fadeToggle(200);
            });
        });
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("One Pal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand label-primary" })
            </div>
            <div class=" nav_main navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li id="nav-item">@Html.ActionLink("Teams", "Index", "Teams")</li>
                        <li id="nav-item">@Html.ActionLink("Players", "Index", "Players")</li>
                        <li id="nav-item">@Html.ActionLink("Fixtures", "Index", "Fixtures")</li>
                        <li id="nav-item"><a href="@Url.Action("Index", "Results")">Results</a>
                            <ul class="items ">
                                <li style="display:none"><a href="http://localhost:47625/Results?tournament=Dicovery">Discovery</a></li>
                                <li style="display:none"><a href="http://localhost:47625/Results?tournament=TestTourn">TestTourn</a></li>
                                <li style="display:none"><a href="http://localhost:47625/Results?tournament=UEFA">UEFA</a></li>
                            </ul>
                        </li>
                        <li id="nav-item"><a href="@Url.Action("Index","Tournaments")">Tournaments</a>
                                <ul  class="items">
                                    <li style="display:none"><a href="@Url.Action("Details","Tournaments",new { @id = 2038 })">UEFA(Corrupt)</a></li>
                                    <li style="display:none"><a href="@Url.Action("Details","Tournaments",new { @id = 2039 })">Discovery</a></li>    
                                    <li style="display:none"><a href="@Url.Action("Details","Tournaments",new { @id = 2040 })">TestTourn</a></li> 
                                </ul>
                        </li>
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ninja Apps: real@askaninja.com</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
   
</body>
</html>
