@model IEnumerable<ProOnePal.Models.Tournament>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <p style="font-family:'Segoe Print'; padding-top:0px; font-size:larger" class="text-center top-right">Tournaments</p>
</div>


@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@{
    var j = 1;
    for (int i = 0; i < 2; i++)
    {
            <div class="col-md-6">
                @while (j <= Model.Count())
                {
                    var item = Model.ElementAt(j - 1);
                    <div class="label-primary text-center">
                        <h2 style="font-family:'Segoe Script'">
                            <a href="@Url.Action("Details","Tournaments",new { id = item.id })">
                            @Html.DisplayFor(modelItem => item.name)</a>
                        </h2>
                        @if (User.IsInRole("Admin"))
                        {
                            <div>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id }) |
                                @Html.ActionLink("Add Team", "AddTeam", new { id = item.id })|
                                @Html.ActionLink("Add Fixture", "AddFixture", new { id = item.id })
                            </div>
                        }
                     </div>
                    if (j == 2)
                    {
                        j++;
                        break;
                    }
                    j++;
               }
            </div>
    }
}
<br />
<br />






